body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.encode{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.decode{
  display: flex;
  flex-direction: column;
  flex: 1;
}

textarea{
  min-height: 28%;
  flex: 3
}

.message{
  flex: 1
}